@import 'tailwindcss';

.light {
	color-scheme: light;
	--bg: #fff0d5;
	--fg: #000;
	--p: #774e24;
	--p-fg: #fff0d5;
	--o: #000;
	--red: #991b1b;
	--c: #774e24;
	background-color: var(--bg);
	color: var(--fg);
}

.dark {
	color-scheme: dark;
	--bg: #222;
	--fg: #fafafa;
	--p: #00dfdf;
	--p-fg: #0a0a0a;
	--red: #de4e45;
	--o: #444;
	--c: #00dfdf;
	background-color: var(--bg);
	color: var(--fg);
}

[data-theme='georgia'] {
	--font: 'Georgia';
}

[data-theme='arial'] {
	--font: 'Arial';
}

[data-theme='tahoma'] {
	--font: 'Tahoma';
}

[data-theme='times'] {
	--font: 'Times New Roman';
}

[data-theme='trebuchet'] {
	--font: 'Trebuchet MS';
}

[data-theme='system'] {
	--font: system-ui;
}

:root {
	font-family: var(--font);
	vector-effect: non-scaling-stroke;
}

[data-select-trigger] {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 0.75rem;
	padding: 0.5rem;
	outline-color: var(--fg);
	display: grid;
	grid-template-columns: 3fr 1fr;
	cursor: pointer;
	width: 10rem;
	margin: auto;
	background-color: var(--bg);
}

[data-select-trigger]:focus {
	outline: 2px solid var(--p);
}

[data-select-content] {
	width: 10rem;
	border-radius: 0.75rem;
	outline: none;
	height: fit-content;
	background-color: var(--bg);
	border: 1px var(--o) solid;
}

[data-select-item] {
	background-color: var(--bg);
	cursor: pointer;
	padding: 0.35rem 0.5rem;
}

[data-button-root]:focus {
	outline: none!;
}

.card {
	position: absolute;
	width: fit;
	top: 3rem;
	justify-self: center;
}

input {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 0.75rem;
	padding: 0.25rem 0.5rem;
}

input:focus {
	outline: 2px solid var(--p);
}

[data-button-root] {
	background: var(--p);
	color: var(--p-fg);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	opacity: 0.9;
}

[data-button-root][href] {
	padding: 0.75rem 1rem;
}

[data-button-root]:hover {
	opacity: 1;
}
