@import 'tailwindcss';

.light {
	color-scheme: light;
	--bg: #fff0d5;
	--a: #eedfc2;
	--fg: #000000;
	--p: #774e24;
	--p-fg: #fff0d5;
	--o: #000000;
	--red: #991b1b;
	--c: #774e24;
	background-color: var(--bg);
	color: var(--fg);
}

.dark {
	color-scheme: dark;
	--bg: #222222;
	--a: #272727;
	--fg: #fafafa;
	--p: #00dfdf;
	--p-fg: #0a0a0a;
	--red: #de4e45;
	--o: #444444;
	--c: #00dfdf;
	background-color: var(--bg);
	color: var(--fg);
}

input[type='email'] {
	font-family: monospace;
}

.nav-bar * {
	z-index: 20;
}

main * {
	z-index: 10 !important;
}

:root::selection {
	background-color: var(--p);
	color: var(--p-fg);
}

[data-theme='georgia'],
.georgie {
	--font: 'Georgia';
	font-family: var(--font);
}

[data-theme='arial'],
.arial {
	--font: 'Arial';
	font-family: var(--font);
}

[data-theme='tahoma'],
.tahoma {
	--font: 'Tahoma';
	font-family: var(--font);
}

[data-theme='trebuchet'],
.trebuchet {
	--font: 'Trebuchet MS';
	font-family: var(--font);
}

[data-theme='system'],
.system {
	--font: system-ui;
	font-family: var(--font);
}

:root {
	font-family: var(--font);
	vector-effect: non-scaling-stroke;
}

[data-select-trigger] {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 0.75rem;
	padding: 0.35rem 0.5rem;
	outline-color: var(--fg);
	display: grid;
	grid-template-columns: 3fr 1fr;
	cursor: pointer;
	width: 10rem;
	margin: auto;
	background-color: var(--bg);
}

[data-select-trigger]:focus {
	outline: 2px solid var(--p);
}

[data-select-content] {
	width: 10rem;
	border-radius: 0.75rem;
	outline: none;
	height: fit-content;
	background-color: var(--bg);
	border: 1px var(--o) solid;
}

[data-select-item] {
	background-color: var(--bg);
	cursor: pointer;
	padding: 0.35rem 0.5rem;
}

[data-button-root]:focus {
	outline: none!;
}

.card {
	position: absolute;
	width: fit;
	top: 3rem;
	justify-self: center;
}

input {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 0.75rem;
	padding: 0.25rem 0.5rem;
	background-color: var(--bg);
}

input:disabled {
	background-color: color-mix(in oklab, var(--fg) 7%, transparent);
	border-color: color-mix(in oklab, var(--fg) 10%, transparent);
	color: color-mix(in oklab, var(--fg) 60%, transparent);
	cursor: not-allowed;
}

[data-button-root]:disabled,
[data-button-root][data-disabled] {
	color: color-mix(in oklab, var(--fg) 50%, transparent);
	background-color: color-mix(in oklab, var(--fg) 10%, transparent);
	opacity: 1;
	cursor: not-allowed;
}

input:focus {
	outline: 2px solid var(--p);
}

[data-button-root] {
	background: var(--p);
	color: var(--p-fg);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	opacity: 0.9;
	@apply transition-opacity;
}

[data-button-root][href] {
	padding: 0.75rem 1rem;
}

[data-button-root]:hover {
	opacity: 1;
}

[data-button-root]:focus {
	outline: none !important;
}

[data-alert-dialog-overlay] {
	background-color: color-mix(in oklab, #000000 50%, transparent);
	width: 100vw;
	height: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 60;
}

[data-alert-dialog-content] {
	background-color: var(--bg);
	z-index: 70;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 35rem;
	height: fit-content;
	padding: 2.5rem;
	border: 1px solid var(--o);
	border-radius: 1.5rem;
}

[data-tabs-list] {
	border-radius: 0.75rem;
	border: 1px solid var(--o);
	display: flex;
	height: 2.5rem;
}

[data-tabs-trigger] {
	padding: 0.25rem;
	border-radius: 0.5rem;
	cursor: pointer;
	white-space: nowrap;
	width: 13.5rem;
	max-height: 100%;
	height: 2rem;
}

[data-tabs-trigger][data-state='active'] {
	background-color: color-mix(in oklab, var(--p) 30%, transparent);
}

.box {
	margin: auto;
	width: 25rem;
	height: 20rem;
	border: 1px solid var(--o);
	border-radius: 0.75rem;
	padding: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg);
}

.badge {
	width: 6rem;
	cursor: default;
	border-radius: calc(infinity * 1px);
	padding-inline: 0.75rem;
	padding-block: 0.125rem;
	text-align: center;
	font-size: 1rem;
	color: var(--bg);
	user-select: none;
}
